{% extends "base.html" %}
{% load static %}
{% block conteudo %}
  <div class="container">
    <h2>Perfil de {{ user.username }}</h2>

    <!-- Exibindo as informações do usuário -->
    <div>
        <p><strong>Nome:</strong> {{ user.first_name }} {{ user.last_name }}</p>
        <p><strong>Nome de usuário:</strong> {{ user.username }}</p>
        <p><strong>Email:</strong> {{ user.email }}</p>
        <p><strong>Endereço:</strong> {{ user.endereco }}</p>
        <p><strong>Telefone:</strong> {{ user.telefone }}</p>
        <p><strong>Cidade:</strong> {{ user.cidade }}</p>
    </div>

    {% if messages %}
      <div class="messages">
        {% for message in messages %}
          <p class="message {{ message.tags }}">{{ message }}</p>
        {% endfor %}
      </div>
    {% endif %}

    <!-- Botão para abrir o modal -->
    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modificarPerfilModal">
      Modificar Perfil
    </button>

    <!-- Modal -->
    <div class="modal fade" id="modificarPerfilModal" tabindex="-1" aria-labelledby="modificarPerfilModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modificarPerfilModalLabel">Modificar Perfil</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form method="POST" action="{% url 'modificar_perfil' user.id %}">
              {% csrf_token %}
              {{ form.as_p }}
          </div>
          <div class="modal-footer">
              <button type="submit" class="btn btn-success">Salvar alterações</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock conteudo %}
